name: CI

on:
  push:
    paths:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig.json'
      - 'vitest.config.ts'
      - 'vitest.e2e.config.ts'
      - 'src/**'
      - 'e2e/**'
      - '.github/**'
  pull_request:
    paths:
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig.json'
      - 'vitest.config.ts'
      - 'vitest.e2e.config.ts'
      - 'src/**'
      - 'e2e/**'
      - '.github/**'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci --loglevel verbose
      - run: npx tsc --noEmit
      - run: npm test
